* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-container {
    background-color: #201E43;
    color: #EEEEEE;
    text-align: center;
}

.navbar-container {
    display: flex;
    background-color: #134B70;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.navbar-links {
    list-style: none;
    padding: 0;
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 0;
    height: 100%;
    margin-top: 0;
}

.navbar-links a {
    text-decoration: none;
    align-items: center;
}

.navbar-links li {
    display: flex;
    align-items: center;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.link-btns {
    background-color: #134B70;
    color: #EEEEEE;
    text-decoration: none;
    width: 100%;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    font-size: 14px;
    display: flex;
    height: 50px;
    border-radius: 0;
    margin: 0;
}

.link-btns:hover {
    background-color: #201E43;
    color: #EEEEEE;
    text-decoration: none;
}

.left-column-container {
    background-color: #EEEEEE;
    margin-right: 0;
    padding-top: 20px;
    width: 200px;
    height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 0;
}

.left-col-links a {
    text-decoration: none;
}

.left-col-links li {
    display: inline;
}

.left-link-btns {
    background-color: #EEEEEE;
    color: #333;
    padding: 20px 15px;
    text-decoration: none;
    display: flex;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 100%;
    margin: 0;
    width: 100%;
}

.left-link-btns:hover {
    background-color: #134B70;
    color: #e6e6e6;
}

.dashboard-container {
    flex-grow: 1;
    min-width: calc(100% - 200px);
    background-color: #e6e6e6;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.game-card {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 100%;
    max-width: 800px;
    text-align: left;
    background-color: #f9f9f9;
    margin: 16px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game-image {
    width: 20%;
    height: auto;
    border-radius: 8px;
    margin: 16px;
}  

.game-title {
    font-size: 18px;
    margin: 0;
}

.recent-achievement {
    font-size: 14px;
    color: #555;
    margin: 4px 0;
}

.hours-played {
    font-size: 14px;
    color: #555;
    margin: 4px 0;
} 

.about {
    max-width: 1000px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    justify-content: flex-start;
    padding: 20px;
}

#about-heading {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-heading, #about-desc, #about-content, #creator-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}